.make_picture_Container{
    height: calc(100vh - 4rem);
    background: url('../../assets/封面.jpeg');
    background-size: cover;
    padding-top: 4rem;
    .make_picture_button{
        width: 80%;
        margin-bottom: 3rem;
    }
    .button1{
        background-color:#F75000
    }
    .button2{
        background-color:#0080FF
    }
    .button3{
        background-color:#FFE66F
    }
}